<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                  crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
                    crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
                    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
                    crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
                    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
                    crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    bsCustomFileInput.init()
                })
            </script>

        {% endblock %}
    </head>
    <body>
        <div class="container">
            <div class="jumbotron text-center" style="margin-bottom:0">
                <h1>Notice Board</h1>
                <p>
{#                    {% if app.user.username is defined %}#}
{#                    <span> <b>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</b>  </span>#}
{#                <div>#}
{#                <span class="float-right"><a href="{{ path('fos_user_security_logout') }}"#}
{#                                             class="nav-link">Log out</a></span>#}
{#                </div>#}
{#                {% else %}#}
                    <span>You are not logged in</span>
                    <div>
                        <span class="float-left"><h5>Welcome to the Notice Board!</h5></span>

                    </div>
{#                {% endif %}#}
                </p>
                {#        {% if is_granted("IS_AUTHENTICATED_ANONYMOUSLY") is same as (false) %} #}
                {#            #}
                {#        {% endif %} #}
            </div>
            {% block body %}{% endblock %}
        </div>


    </body>
</html>
